.appContainer {
  justify-content: center;
  text-align: center;
  display: block;
  background-color: #8d8d8d;
  color: white;
}

.titleConverter {
  font-weight: lighter;
  font-size: smaller;
  padding-top: 20px;
}

.inputConverter {
  font-weight: bold;
  width: 20vw;
  display: inline-block;
}
.gramsStyle {
  background-color: #4c49d4;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  display: block;
  width: 20vw;
  text-align: left;
}

.kilogramsStyle {
  background-color: #11b003;
  font-size: 10px;
  text-align: left;
  gap: 10px;
  display: inline-block;
  width: 20vw;
  display: block;
}
.ouncesStyle {
  background-color: #f94444;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  display: inline-block;
  width: 20vw;
  text-align: left;
  display: block;
}
